@import url('https://fonts.googleapis.com/css?family=Merriweather');
.header{
	background-color: #000000;
}
.fab{
	font-size: 30px;
	color:#ffffff;
}
.h6-art1{

	 font-size:20px;
	 width: 769px;
	  margin:auto;
	  font-family: 'Merriweather', serif;
	}

.h2-art1{
	font-family: 'Merriweather', serif;
}
.img-art2{
	height:400px; 
}
.card{
	border: none
}
.zoom{
	transition: transform .2s;
   
}
.zoom:hover{
	 -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
li{list-style-type: none}